{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error.message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ success.message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}
    <div> this is your sell page!</b>
    {% if results %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Company</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">To Sell</th>
          </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{ result.stockname}}</td>
            <td>{{ result.company}}</td>
            <td>{{ result.amount}}</td>
            <td>{{ result.price}}</td>
            <td>
                <form action="/sell" method="post">
                    <div class="form-group row">
                        <input autocomplete="on" autofocus class="form-control" name="number" placeholder="Stock symbol" type="text">
                        <input type="hidden" class="form-control" name="stockname" value="{{ result.stockname }}" type="text">
                        <input type="hidden" class="form-control" name="company" value="{{ result.company }}" type="text">
                        <button class="btn btn-primary" type="submit">Sell</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <!--TODO add cash value here-->
    <script>
    $(document).ready(function() {
        // show the alert
        setTimeout(function() {
            $(".alert").delay(4000).slideUp(200, function() {
                $(this).alert('close');
            });
        }, 2000);
    });
    </script>
{% endblock %}